.btn{
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    margin: 5px 20px;

}
.btn-disable{
    background-color: #cccccc;
    cursor: not-allowed;
     margin: 5px 20px;
}
.btn-confirm{

 background-color: #10f84e;
    color: black;
     margin: 10px 20px;
     font-size: 15px;
    
}