.card{
    border: 1px,solid #ccc;
    border-radius: 16px;
    padding: 10px;
    max-width: 400px;
    margin: 20px,0;
    box-shadow: 2px 4px rgba(0, 0,0, 0.1);
    display: flex;
    position: relative;
}
.avtar{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 20px;
    margin-right: 16px;

}
.name{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.micstate{
   
    font-size: 14px;
    color: #666;
   height: 50px;
    width: 40px;
    position: absolute;
    top:10px;
    right: 10px;
}
.image{
     height: 100px;
    width: 100px;
    border-radius: 50px;
  
}
